﻿@model tichaedza.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Register</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <div class="post-image">
                        <div class="cta-text">
                            <h2><span>REGISTRATION</span> TICHAEDZA <span>VAROMBO</span></h2>
                        </div>

                    </div>
                @using (Html.BeginForm())
                {
                 

                    @Html.AntiForgeryToken()
                    <div class="contact-form">
                        <form role="form">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, "Customer Number:", htmlAttributes: new {@class = "control-label col-md-2"})
                                @Html.EditorFor(model => model.Username, new {htmlAttributes = new {@class = "form-control", @style = "width:300px", @placeholder = "Customer Number"}})
                                <br/>
                                @Html.ValidationMessageFor(model => model.Username, "", new {@class = "text-danger"})
                            </div>

                            <button class="btn btn-info" type="submit">
                                Submit
                            </button>
                         
                              






                        </form>

                        <div class="cta-text">
                            <h2><span>@ViewBag.SuccessMsg</span></h2>
                        </div>
                     
                    </div>
                }

                </article>
            </div>
        </div>
    </div>
</section>

