﻿@model tichaedza.Models.LoginViewModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <div class="post-image">
                        <div class="cta-text">
                            <h2><span>LOGIN</span> TICHAEDZA <span>VAROMBO</span></h2>
                        </div>

                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Sign In</h4>
                            <hr />
                            <label class="text-danger">
                                @Html.ValidationSummary(true)
                            </label>


                            <div class="form-group">

                                @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control",@style="width:300px", @title = "Username is  mandatory", autocomplete = "off" } })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @style = "width:300px", @title = "Password is  mandatory", autocomplete = "off" } })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                    <input type="reset" value="Clear" class="btn btn-primary" />
                                </div>
                            </div>




                        </div>
                    }


                </article>
            </div>
        </div>
    </div>
</section>



