﻿@model tichaedza.Models.LoanTracker
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Application Tracker:@User.Identity.Name</h2>

<table class="table table-striped">
    <tr>
        <th>
            ID
        </th>
        <th>
            ISSUE_DATE
        </th>
        <th>
            FIN_AMT
        </th>
        <th>
            FIN_TENOR
        </th>
        <th>
            FIN_INT_RATE
        </th>
        <th>
            DISBURSED DATE
        </th>
        <th>
            DISBURSED OPTION
        </th>
        <th>
            AMOUNT APPLIED
        </th>
        <th>
           LOAN TYPE
        </th>

    </tr>


    @foreach (var row in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>
                @row.ID
            </td>
            <td>
                @row.ISSUE_DATE
            </td>
            <td>
                @String.Format("{0:0.00}", row.FIN_AMT)
              </td>
            <td>
                @row.FIN_TENOR
            </td>
            <td>
                @String.Format("{0:0.00}",row.FIN_INT_RATE)%
              
            </td>
            <td>
                @row.DISBURSED_DATE
            </td>
            <td>
                @row.DISBURSE_OPTION
            </td>
            <td>
                @String.Format("{0:0.00}", row.AMT_APPLIED)
               
            </td>
            <td>
                @row.loan_type
            </td>


        </tr>
    }
</table>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Loantracker", new { page }))