﻿@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Balance:@User.FirstName</h2>
<table class="table table-striped">
    <tr>
        <th>
            Category
        </th>
        <th>
            Balance
        </th>

    </tr>

    @foreach (var row in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>
                @row.Description
            </td>
            <td>
                
                @String.Format("{0:0.00}", row.TotalAmount)E

           

               
            </td>


        </tr>
    }
</table>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Balance", new { page }))