﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@User.Identity.Name</h2>
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">DASHBOARD</h1>


    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-md-4">
        <div class="main-box mb-red">
            <a href="~/User/Balance">
                <i class="fa fa-dollar fa-5x"></i>
                <h5>Balances</h5>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box mb-dull">
            <a href="#">
                <i class="fa fa-dollar fa-5x"></i>
                <h5>Contributions</h5>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box mb-pink">
            <a href="#">
                <i class="fa fa-dollar fa-5x"></i>

                <h5>Outstanding Contributions</h5>
            </a>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="main-box mb-red">
            <a href="~/User/Nominees">
                <i class="glyphicon glyphicon-user fa-5x"></i>
                <h5>Nominees</h5>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box mb-dull">
            <a href="#">
                <i class="glyphicon  glyphicon-bell fa-5x"></i>
                <h5>Events</h5>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box mb-pink">
            <a href="">
                <i class="glyphicon glyphicon-home fa-5x"></i>

                <h5>Stands</h5>
            </a>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="main-box mb-red">
            <a href="#">
                <i class="glyphicon glyphicon-user fa-5x"></i>
                <h5>Profile</h5>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box mb-dull">
            <a href="#">
                <i class="glyphicon glyphicon-bookmark fa-5x"></i>
                <h5>Statement</h5>
            </a>
        </div>
    </div>


</div>