﻿@model  tichaedza.Models.LoanTracker
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Loan Tracker:@User.Identity.Name</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sign In</h4>
        <hr />
        <label class="text-danger">
            @Html.ValidationSummary(true)
        </label>


        <div class="form-group">

            @Html.LabelFor(model => model.reference, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.reference, new { htmlAttributes = new { @class = "form-control", @style = "width:300px", @title = "Reference is  mandatory", autocomplete = "off" } })
                <br />
                @Html.ValidationMessageFor(model => model.reference, "", new { @class = "text-danger" })
            </div>
        </div>

 



        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <input type="reset" value="Clear" class="btn btn-primary" />
            </div>
        </div>




    </div>
}
<table class="table table-striped">
  
    <tr>
        <th>
          Transaction
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>

    </tr>

    @foreach (var row in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>
                @row.txn_code
            </td>
            <td>
                @row.Description
            </td>
            <td>

                @String.Format("{0:0.00}", row.amount)




            </td>


        </tr>
    }
</table>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("ApplicationTracker", new { page }))