﻿@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Nominees:@User.Identity.Name</h2>
<table class="table table-striped">


    @foreach (var row in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>Name</td><td>@row.Name</td>


        </tr>
        <tr>
            <td>ID Number</td>
            <td>@row.ID_Number</td>


        </tr>
        <tr>
            <td>DOB</td>
            <td>@row.DOB</td>

            
        </tr>
        <tr>
            <td>Relationship</td>
            <td>@row.Relationship</td>


        </tr>
    }
</table>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Nominees", new { page }))