﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <title>Tichaedza Varombo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://bootstraptaste.com" />
    <!-- css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/css/jcarousel.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    
    @Scripts.Render("~/bundles/modernizr")

    <!-- Theme skin -->
    <link href="~/skins/default.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>
<body >
    <div id="wrapper">
        <!-- start header -->

        <header>


            <div class="navbar navbar-default navbar-static-top">
         
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a style=" float:left; width:38%; position:absolute;" href="#"><img class="img-responsive" width="40%" src="~/img/logo1.png" /></a>
                    </div>

                       </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">History <b class=" icon-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Typography</a></li>
                                    <li><a href="#">Components</a></li>
                                    <li><a href="#">Pricing box</a></li>
                                </ul>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Services" ? "active" : "")">@Html.ActionLink("Services", "Services", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")">@Html.ActionLink("Register", "Register", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Account" ? "active" : "")">@Html.ActionLink("Login", "Account", "Account")</li>

                             <li>
                                <div style="float: right;margin-left:5%">
                                    <form method="get" action="http://www.google.com/search" target="_blank">




                                        <input class="form-control" type="text" name="q" size="40" maxlength="255" value="" placeholder="Search Site................" />

                                        <input type="hidden" name="sitesearch" value="#" target="_blank">


                                        <!--http://greenwebsite20160322122050.azurewebsites.net/  -->



                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div></header>


        <!-- end header -->
        <section id="featured">
            <!-- start slider -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Slider -->
                        <div id="main-slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/img/slides/4.jpg" alt="" />
                                    <div class="flex-caption">
                                        <h3>Services</h3>
                                        <p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p>
                                        <a href="#" class="btn btn-theme">Learn More</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="~/img/slides/5.jpg" alt="" />
                                    <div class="flex-caption">
                                        <h3>Registration</h3>
                                        <p>Sodales neque vitae justo sollicitudin aliquet sit amet diam curabitur sed fermentum.</p>
                                        <a href="#" class="btn btn-theme">Learn More</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="~/img/slides/6.jpg" alt="" />
                                    <div class="flex-caption">
                                        <h3>Policies</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec mer lacinia.</p>
                                        <a href="#" class="btn btn-theme">Learn More</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- end slider -->
                    </div>
                </div>
            </div>



        </section>
      
            @RenderBody()
            <hr />


            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Get in touch with us</h5>
                                <address>
                                    <strong>Tichaedza Varombo</strong><br>
                                    Modernbuilding suite V124, AB 01<br>
                                    Someplace 16425 Earth
                                </address>
                                <p>
                                    <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
                                    <i class="icon-envelope-alt"></i> email@domainname.com
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Pages</h5>
                                <ul class="link-list">
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Home</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Latest posts</h5>
                                <ul class="link-list">
                                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                    <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                    <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                                </ul>
                            </div>
                        </div>
                   
                    </div>
                </div>
                <div id="sub-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="copyright">
                                    <p>
                                        <span>&copy; Tichaedza Varombo 2016 All right reserved. </span> 
                                    </p>
                                    <!--
                                        All links in the footer should remain intact.
                                        Licenseing information is available at: http://bootstraptaste.com/license/
                                        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Moderna
                                    -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ul class="social-network">
                                    <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/jquery.fancybox-media.js"></script>
    <script src="~/js/google-code-prettify/prettify.js"></script>
    <script src="~/js/portfolio/jquery.quicksand.js"></script>
    <script src="~/js/portfolio/setting.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/animate.js"></script>
<script src="~/js/custom.js"></script>
 
</body>
</html>
