﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- BOOTSTRAP STYLES-->

    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="~/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation"style="margin-bottom: 0;background-color:#202020">
           
             <div class="navbar-header"  >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="font-size:10pt"><img class="img-responsive"  width="40%" src="~/img/logo1.png" />
</a>
            </div>
         
            <div class="header-right" >

             
                <a href="~/Account/LogOut" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

            </div>
        </nav>
    
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="~/img/AndrewFuller.jpg" class="img-thumbnail"/>
                            <div class="inner-text">
                                @User.FirstName @User.LastName
                                <br />
                                <small>Last Login : 2 Weeks Ago </small>
                            </div>

                           
                        </div>

                    </li>


                    <li>
                        <a class="active-menu" href="~/User/Index"><i class="fa fa-dashboard "></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="~/User/Balance"><i class="fa fa-desktop "></i>Balances<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="~/User/Balance"><i class="fa fa-toggle-on"></i>Balances</a>
                            </li>
                      </ul>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-certificate"></i>Contributions<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                               

                             

                                <a href="#"><i class="fa fa-toggle-on"></i> Contribution Details</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-toggle-on"></i>OutStanding Contributions</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-certificate"></i>Events<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-toggle-on"></i>Events</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-toggle-on"></i>Nominees</a>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-certificate"></i>Profile<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-toggle-on"></i>Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-toggle-on"></i>Profile Photo</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-toggle-on"></i>Statement</a>
                            </li>


                        </ul>
                    </li>


                    <li>
                        <a href="~/Account/LogOut"><i class="glyphicon glyphicon-user"></i>LogOut</a>

                    </li>
                
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            @RenderBody()
            <hr />
      
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        <p>&copy; @DateTime.Now.Year -Tichaedza Varombo<img class="img-responsive" height="100" width="150" src="~/img/logo1.png" /></p>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/assets/js/custom.js"></script>


</body>
</html>
